name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: windows-latest
    strategy:
      matrix:
        configuration: [ Debug, Release ]
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup MSBuild
        uses: microsoft/setup-msbuild@v1

      - name: Restore (MSBuild)
        run: msbuild UsbCamera.Net.sln /t:Restore /p:Configuration=${{ matrix.configuration }} /p:Platform="Any CPU"

      - name: Build (MSBuild)
        run: msbuild UsbCamera.Net.sln /m /p:Configuration=${{ matrix.configuration }} /p:Platform="Any CPU"

      - name: Artifact (Release only)
        if: matrix.configuration == 'Release'
        run: |
          mkdir artifacts
          for /f %%f in ('dir /b src\UsbCamera\bin\Release') do echo %%f > artifacts\listing.txt

